@use 'partials/variables.scss' as *;
@use 'partials/mixins.scss' as *;

.d-flex {
  display: flex;
}
.d-flex.justify-between {
  justify-content: space-between;
}

.d-flex.align-center {
  align-items: center;
}

.container {
  padding: 1.2rem 15rem;
}

.text-uppercase {
  text-transform: uppercase;
}
.d-flex.wrap {
  flex-wrap: wrap;
}

.d-flex.column {
  flex-direction: column;
}
